.card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 1rem;
}

.card .card-data {
    padding: 0.5rem;
}

.card .card-data .field-name, 
h2 {
    color: black;
    font-weight: 600;
}

.card img {
    height: 150px;
    width: 100%;
}
